<!DOCTYPE html>
<head>
    <style>
        .topic{
            background: purple;
        }
        .user{
            align-items: first baseline;
        }

    </style>
</head>
<div class="topic">
<h1><center>CREDIBLE BLOOMS LIMITED</center></h1>
<h2><center>IT Inventory System</center></h2>
</div>
<div class="user">
<h1>Welcome, {{ session['user'] }}</h1>
</div>
<!-- <a href="/add_asset">Add Asset</a> | <a href="/logout">Logout</a> -->

<ul>
  <li><a href="{{ url_for('add_asset') }}">➕ Add Asset</a></li>
  <li><a href="{{ url_for('assign_asset') }}">🧾 Assign Asset</a></li>
  <li><a href="{{ url_for('return_asset') }}">🔄 Return Asset</a></li>
  <li><a href="{{ url_for('report') }}">📊 View Reports</a></li>
</ul>

<p><a href="{{ url_for('logout') }}">Logout</a></p>
<marquee>Blooming all the way</marquee>
<body>

    
</body>